<h1>Listing articles</h1>
 <%@articles.each do |article| %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  
</table>
<% end %>
<%=link_to 'New', new_article_path %>

