<div class="center jumbotron">
  <h1>Welcome to Nutronix</h1>

  <h2>
    We are the home of tracking calorie intake and use.
  </h2>

  <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
